<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myInventory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">myInventory</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h1>Items</h1>
                <form class="form-inline add-item">
                    <div class="form-group">
                        <label for="item-description">Description</label>
                        <input type="text" class="form-control" id="item-description" placeholder="Television" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="item-value">Amount (in dollars)</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control" id="item-value" placeholder="Value" min="0" step="1" required>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label for="item-room">Room</label>
                        <select id="item-room" class="form-control">
                            <% for (var i = 0; i < rooms.length; i++) { %>
                                <option value="<%= rooms[i].id %>"><%= rooms[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="item-category">Category</label>
                        <select id="item-category" class="form-control">
                            <% for (var i = 0; i < categories.length; i++) { %>
                                <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Add Item</button>
                </form>
                <br><br>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Value</th>
                            <th>Room</th>
                            <th>Category</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="items-list">
                        <% for (var i = 0; i < items.length; i++) { %>
                            <tr>
                                <td class="item-description"><%= items[i].description %></td>
                                <td class="item-value">$<%= items[i].value %></td>
                                <td class="item-room <%= items[i].room_id %>" data-id="<%= items[i].room_id %>"><%= items[i].room_name %></td>
                                <td class="item-category <%= items[i].category_id %>" data-id="<%= items[i].category_id %>"><%= items[i].category_name %></td>
                                <td><button type="button" data-toggle="modal" data-target="#editItemModal" class="btn btn-default edit-item" data-id="<%= items[i].id %>"><span class="glyphicon glyphicon-edit"></span></button></td>
                                <td><button type="button" class="btn btn-default delete-item" data-id="<%= items[i].id %>"><span class="glyphicon glyphicon-trash"></span></button></td>
                            </tr>
                        <% } %>
                        <tr class="item-template">
                            <td class="item-description"></td>
                            <td class="item-value"></td>
                            <td class="item-room"></td>
                            <td class="item-category"></td>
                            <td><button type="button" data-toggle="modal" data-target="#editItemModal" class="btn btn-default edit-item"><span class="glyphicon glyphicon-edit"></span></button></td>
                            <td><button type="button" class="btn btn-default delete-item"><span class="glyphicon glyphicon-trash"></span></button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="pull-right bold">Total Value:</td>
                            <td class="total-value bold">$<%= itemValues[0].sum_value %></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-md-4 col-sm-12">
                <h1>Rooms</h1>
                <form class="form-inline add-room">
                    <div class="form-group">
                        <label for="room-name">Name</label>
                        <input type="text" class="form-control" id="room-name" placeholder="Living Room" required>
                    </div>
                    <button type="submit" class="btn btn-default">Add Room</button>
                </form>
                <br><br>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Room Name</th>
                            <th>Total Value</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="rooms-list">
                        <% for (var i = 0; i < roomValues.length; i++) { %>
                            <tr>
                                <td class="room-name"><%= roomValues[i].name %></td>
                                <td class="room-value <%= roomValues[i].room %>">$<%= roomValues[i].room_value %></td>
                                <td><button type="button" data-toggle="modal" data-target="#editRoomModal" class="btn btn-default edit-room" data-id="<%= roomValues[i].room %>"><span class="glyphicon glyphicon-edit"></span></button></td>
                                <td><button type="button" class="btn btn-default delete-room" data-id="<%= roomValues[i].room %>"><span class="glyphicon glyphicon-trash"></span></button></td>
                            </tr>
                        <% } %>
                        <tr class="room-template">
                            <td class="room-name"></td>
                            <td class="room-value"></td>
                            <td><button type="button" data-toggle="modal" data-target="#editRoomModal" class="btn btn-default edit-room"><span class="glyphicon glyphicon-edit"></span></button></td>
                            <td><button type="button" class="btn btn-default delete-room"><span class="glyphicon glyphicon-trash"></span></button></td>
                        </tr>
                    </tbody>
                </table>
                <br><hr><br>
                <h1>Categories</h1>
                <form class="form-inline add-category">
                    <div class="form-group">
                        <label for="category-name">Name</label>
                        <input type="text" class="form-control" id="category-name" placeholder="Electronics" required>
                    </div>
                    <button type="submit" class="btn btn-default">Add Category</button>
                </form>
                <br><br>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Total Value</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="categories-list">
                        <% for (var i = 0; i < categoryValues.length; i++) { %>
                            <tr>
                                <td class="category-name"><%= categoryValues[i].name %></td>
                                <td class="category-value <%= categoryValues[i].category %>">$<%= categoryValues[i].category_value %></td>
                                <td><button type="button" data-toggle="modal" data-target="#editCategoryModal" class="btn btn-default edit-category" data-id="<%= categoryValues[i].category %>"><span class="glyphicon glyphicon-edit"></span></button></td>
                                <td><button type="button" class="btn btn-default delete-category" data-id="<%= categoryValues[i].category %>"><span class="glyphicon glyphicon-trash"></span></button></td>
                            </tr>
                        <% } %>
                        <tr class="category-template">
                            <td class="category-name"></td>
                            <td class="category-value"></td>
                            <td><button type="button" data-toggle="modal" data-target="#editCategoryModal" class="btn btn-default edit-category"><span class="glyphicon glyphicon-edit"></span></button></td>
                            <td><button type="button" class="btn btn-default delete-category"><span class="glyphicon glyphicon-trash"></span></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="editRoomModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="edit-room-form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Room</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="edit-room-name">Name</label>
                            <input type="text" class="form-control" id="edit-room-name" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="edit-room-id">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Discard Changes</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="editCategoryModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="edit-category-form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Category</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="edit-category-name">Name</label>
                            <input type="text" class="form-control" id="edit-category-name" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="edit-category-id">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Discard Changes</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="editItemModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="edit-item-form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="edit-item-description">Description</label>
                            <input type="text" class="form-control" id="edit-item-description" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="edit-item-value">Amount (in dollars)</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" class="form-control" id="edit-item-value" placeholder="Value" min="0" step="1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit-item-room">Room</label>
                            <select id="edit-item-room" class="form-control">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edit-item-category">Category</label>
                            <select id="edit-item-category" class="form-control">

                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="edit-item-id">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Discard Changes</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>